{% extends 'magasin/base.html' %}

{% block title %}
Ajouter Produit
{% endblock %}

{% block content %}

<div class="col-md-12 text-center">
    <h2>Manip Produit</h2>
</div>
<form method="POST" class="post-form">
    {% csrf_token %}
    {{ form.as_table }}
    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            <strong>Error:</strong> Please correct the errors below.
        </div>
    {% endif %}
    <button type="submit" class="btn btn-primary">Enregistrer</button>
</form>
{% endblock %}
