<!-- post_detail.html -->
{% load static %}
{% block title %} blog {% endblock title %}
{% block styles %} 
    <link rel='stylesheet' type='text/css' media='screen' 
		href="{% static 'css/posts.css'%}">
    {% endblock %}
{% block content %}


<div class="container">
    <a href="{% url 'blog:creer_post' %}">
        <button>Creer Posr</button>
        <a>
    {% for post in posts %}

    <h1>{{ post.title }}</h1>
    <p><strong>Slog:</strong> {{ post.slug }}</p>
    <p><strong>Author:</strong> {{ post.author }}</p>
    <p><strong>Created On:</strong> {{ post.created_on }}</p>
    <p><strong>Last Updated On:</strong> {{ post.updated_on }}</p>
    <p><strong>Status:</strong> {{ post.get_status_display }}</p>
    <div>
        {{ post.content|safe }}
    </div>
    {% if post.image %}
    <a href="{% url 'blog:detail_post' pk=post.pk %}">
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
    </a>
    
    {% endif %}
    <a href="{% url 'blog:detail_post' pk=post.pk %}">detail_post <a>
    <a href="">Suprimer <a>
{% endfor %}
</div>
    {% endblock %}
   